node_modules
dist
coverage
package-lock.json
**/screenshots/*

*.log*
.env
env/*.local
stats.json
stats.html
.DS_Store
/*.tgz
.demo/
demo

# Sublime Text
*.sublime-project
*.sublime-workspace

# VSCode
.vscode

# VIM
*.swp
*.swo

# Vagrant
Vagrantfile
.vagrant

# Playwright
playwright-report
test-results

# idea
.idea